* {
    font-family: Inter;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    overflow-x: hidden;
}

body {
    background-color: #181818; 
    color: #333; 
}

nav {
    background-color: #000;
    padding: 20px 0;
    text-align: center;
}

nav a {
    color: #fff;
    padding: 10px 20px;
    margin: 0 10px;
    text-decoration: none;
}

nav a:hover {
    background-color: #333; 
}

#homeBanner {
    background-image: url(images/portfolio-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px; 
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

#homeIntro {
    color: #fff; 
}

#homePrelude {
    padding: 20px;
    margin: 20px 0;
    background-color: #090909; 
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.homeTidBits {
    width: 35vw;
    padding: 20px;
    margin: 20px 0;
    background-color: #090909; 
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
}
#homeProjectOne {
    border-top: ;
    border-bottom: ;
    border-left: ;
    border-right: ;
}
#homeProjectTwo {
    border-top: ;
    border-bottom: ;
    border-left: ;
    border-right: ;
}
#homeOtherWork {
    border-top: ;
    border-bottom: ;
    border-left: ;
    border-right: ;
}
#homeTennis {
    border-top: ;
    border-bottom: ;
    border-left: ;
    border-right: ;
}
.border-gradient-purple {
    border: 10px solid;
    border-image-slice: 1;
    border-width: 5px;
    border-image-source: linear-gradient(to left, #7fd6ff, #f36fff);
}

.border-gradient-purple-reverse {
    border: 10px solid;
    border-image-slice: 1;
    border-width: 5px;
    border-image-source: linear-gradient(to left, #f36fff, #7fd6ff);
}

/* .accademicTidBits {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px;
}

#accademicTidBitImages {
    border-top-right-radius: 5px; 
    border-bottom-right-radius: 5px;
}

#apes {
    margin-left: 30vw;
}

#physics {
    margin-left: 60vw;
}

.third {
    width: 33vw;
} */

#otherwork {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    max-width: 60vw;
    margin: 0 auto;
}

#otherworkMemeGenerator, #otherworkCSSZenGarden {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 1);
    margin: 20px 0;
}

#otherwork section:nth-child(odd) {
    flex-direction: row-reverse;
}

#otherworkMemeGeneratorText, #otherworkCSSZenGardenText {
    flex: 1;
    padding: 20px;
}

#otherworkMemeGeneratorImage, #otherworkCSSZenGardenImage {
    flex: 1;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.otherworkImage {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

#academics {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    max-width: 60vw;
    margin: 0 auto;
}

#academicsCalc, #academicsAPES, #academicsPhysics {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(166, 206, 255, 1);
    margin: 20px 0;
}

#academics section:nth-child(even) {
    flex-direction: row-reverse;
}

#academicsAPESText, #academicsCalcText, #academicsPhysicsText {
    flex: 1;
    padding: 20px;
}

#academicPhysicsImage, #academicAPESImage, #academicCalcImage {
    flex: 1;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.academicImage {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

#tennis {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    max-width: 60vw;
    margin: 0 auto;
}

#tennisTournaments, #tennisSchool {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(203, 255, 180, 1);
    margin: 20px 0;
}

#tennis section:nth-child(even) {
    flex-direction: row-reverse;
}

#tennisTournamentsText, #tennisSchoolText {
    flex: 1;
    padding: 20px;
}

#tennisTournamentsImage, #tennisSchoolImage {
    flex: 1;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tennisImage {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

#english {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    max-width: 60vw;
    margin: 0 auto;
}

#jurrasicParkChaosTitle {
    text-align: center;
}

#profile, #skills, #expirence, #education, #contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(203, 255, 180, 1);
    margin: 20px 0;
}

#resume {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    max-width: 60vw;
    margin: 0 auto;
    text-align: center;
}

#resumeList {
    list-style: none;
}

#ppours {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    max-width: 60vw;
    margin: 0 auto;
}

#ppoursObjective, #ppoursFallShowcase {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(166, 206, 255, 1);
    margin: 20px 0;
}

#ppours section:nth-child(even) {
    flex-direction: row-reverse;
}

#ppoursObjectiveText, #ppoursFallShowcaseText {
    flex: 1;
    padding: 20px;
}

#ppoursFallShowcaseImage, #ppoursObjectiveImage {
    flex: 1;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 800px) {
    #tennisTournaments, #tennisSchool, #academicsCalc, #academicsAPES, #academicsPhysics, #otherworkMemeGenerator, #otherworkCSSZenGardenm {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        border-radius: 5px;
        margin: 20px 0;
    }
    #tennis section:nth-child(even) {
        flex-direction: column-reverse;
    }
    #otherwork section:nth-child(odd) {
        flex-direction: column-reverse;
    }
    #academics section:nth-child(even) {
        flex-direction: column-reverse;
    }
}